@font-face {
    font-family: 'Panthera'; 
    src: url(police/PantheraRegular-MVZ9J.ttf)
 ;
}

@font-face {
    font-family: 'beyno';
    src: url(police/beyno.ttf)
}

@font-face {
    font-family: 'WakandaForever';
    src: url(police/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(police/Cantarell-Regular.ttf);
}

:root {
    --white-color: #FFFF;
    --purple-color: #3D2DA6;
    --blue-color: #07338C;
    --navybleu-color: #021740;
    --pink-color: #DF99F2;
    --light-bleu-color: #9E91B7;
    --light-lilac-color: #F2CEF2;
    }

     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    

    body {
        background: radial-gradient(126.67% 350.28% at -21.35% 0%,
        #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%,
        rgba(2, 23, 64, 0) 100%);
        font-family: 'Cantarell';
        font-weight: 100;
        background-color: #0B0B0B;
        color: #FFFF;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    .menu {
        display: flex;
        list-style-type: none;
    }

    nav ul li a {
        padding-left: 60px;
        font-family: 'beyno';
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: var(--white-color);
    }
    /*Mise en page des réseaux sociaux*/
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: normal;
        position: fixed;
        left: 60px;
        top: 230px;
    }

    .bouton {
        padding-bottom: 10px;
    }
    /*Mise en forme de la section 1*/
    h1 {
        font-family: 'Panthera';
        font-size: 60px;
        font-weight: 100;
        color: var(--light-bleu-color);
        margin-bottom: 12px;
    }

    h2 {
        font-family: 'beyno';
        font-weight: lighter;
        color: var(--light-bleu-color);
        margin-bottom: 30px;
    }

    h3 {
        font-family: 'beyno';
        font-weight: lighter;
        font-size: 15px;
        color: var(--light-bleu-color);
        padding-bottom: 10px;
    }
    
    .section-text {
        width: 40%;
        margin-top: 160px;
        padding-left: 150px;
    }

     .text {
        width: 90%;
        font-family: 'Cantarell';
        font-size: 10px;
        text-align: justify;
        margin-bottom: 15px;
    }

    .lien {
        font-family: 'Cantarell';
        font-size: 12px;
        font-weight: lighter;
        color: var(--white-color);
    }

    #section1 {
        display: flex;
    }

    .image1 {
        width: 70%;
        height: 70%;
        margin-top: 80px;
    }
   /*Mise en page de la section 2*/
   
   #section2 {
    display: flex;
    margin-bottom: 150px;
   }

   #section2 .box-section {
     display: flex;
   }

    #section2 .section2-text {
    width: 20%;
    text-align: justify;
    font-size: 10px;
    padding: 20px 20px 20px 30px;
    background-color: var(--navybleu-color);
   }

   /*Mise en page secton 3*/
   .section3-text p, .section4-text p, .section5-text p {
    width: 60%;
    font-size: 12px;
    text-align: justify;
    padding-bottom: 20px;
    font-weight: lighter;
   }

    .section3-text, .section4-text, .section5-text  {
    width: 65%;
    margin-left: 150px;
   }
/* Mise en page de la biographie*/
   #biography {
    position: relative;
    z-index: 1;
   }

   #superposed-image {
    position: absolute;
    z-index: 2;
   }

   #biography .bio-text {
    width: 70%;
    text-align: justify;
    font-size: 12px;
    background: var(--white-color);
    padding: 180px 30px 40px 30px;
    border-radius: 10px;
   }

   h4 {
    text-align: center;
    font-size: 16px;
    color: rgb(37, 36, 36);
    padding-bottom: 15px;
   }

   .identity {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
   }

   .identity p {
    background-color: #3D2DA6;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 10px;
   }

   .description p {
    padding-bottom: 12px;
    color: #0B0B0B;
   }
    
   .description span {
    font-weight: bold;
    color: var(--navybleu-color);
   }

/*Mise en forme formulaire*/
