@font-face {
    font-family: 'Panthera'; 
    src: url(police/PantheraRegular-MVZ9J.ttf)
 ;
}

@font-face {
    font-family: 'beyno';
    src: url(police/beyno.ttf)
}

@font-face {
    font-family: 'WakandaForever';
    src: url(police/WakandaForever-Regular.ttf);
}

@font-face {
    font-family: 'Cantarell';
    src: url(police/Cantarell-Regular.ttf);
}

:root {
    --white-color: #FFFF;
    --purple-color: hsl(248 57% 41%);
    --blue-color: hsl(220 90% 29%);
    --navybleu-color: hsl(220 94% 13%);
    --pink-color: hsl(287 77% 77%);
    --light-bleu-color: hsl(261 21% 64%);
    --light-lilac-color: hsl(300 58% 88%);
    --translucent-hsl:(0 0% 100%): hsl(0 0% 100% / .5);
    }
    
     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
    
    html, body {
    overflow-x: hidden;
    }

    body {
        background: radial-gradient(126.67% 350.28% at -21.35% 0%,
        hsl(219 58% 16%) 0%, hsl(0 0% 4%) 39.1%, hsl(220 94% 13% / .837641) 94.57%,
        hsl(220 94% 13% / .0) 100%);
        font-family: 'Cantarell';
        font-weight: 100;
        background-color: hsl(0 0% 4%);
        color: #FFFF;
    }

    .header {
        width: 80%;
        margin: 0 auto;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    nav ul li a {
        padding-left: 60px;
        font-family: 'beyno';
        font-size: 15px;
        font-weight: lighter;
        text-decoration: none;
        color: var(--white-color);
    }
    
    .header .menu {
        display: flex;
        list-style-type: none;
    }
    /*Animation menu header*/

    .header .logo:hover {
      filter: invert(10%) sepia(75%) saturate(7463%) hue-rotate(256deg) brightness(98%) contrast(92%);
    }
    .header .menu a:hover {
      text-decoration: underline;
      color: #FFFF;
    }

    .header .menu a:focus {
      text-decoration: underline;
      color: hsl(300 76% 72%);
    }


    /*Mise en page des réseaux sociaux*/
    .main-accueil .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 60px;
        top: 0;
    }

    .main-accueil .social-media a:hover {
      filter: invert(10%) sepia(100%) saturate(2%) hue-rotate(311deg) brightness(106%) contrast(100%);
    }

    .main-accueil .social-media:before {
        content: "";
        width: 2px;
        height: 335px;
        background: var(--light-bleu-color);
        display: block;
        margin-bottom: 5px;
    }

    .main-accueil .social-media:after {
        content: "";
        width: 2px;
        height: 97%;
        background: var(--light-bleu-color);
        display: block;
        margin-bottom: 5px;
        position: absolute;
        left: -19px;
    }

    .main-accueil .social-media .bouton {
        padding-bottom: 10px;
    }

    /*Mise en forme de la section 1*/
    .main-accueil .section1 {
        display: flex;
        justify-content: space-around;
        padding-left: 150px;
        animation: fade-in 2s ease-in-out forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .main-accueil .section1 .left {
        margin-top: 250px;
    }

    .main-accueil .section1 .left .section1-text h1 {
        font-family: 'Panthera';
        font-size: 38px;
        font-weight: 100;
        color: var(--light-bleu-color);
        margin-bottom: 12px;
    }

    .main-accueil .section1 .left .section1-text h2 {
        font-family: 'beyno';
        font-weight: lighter;
        color: var(--light-bleu-color);
        margin-bottom: 30px;
    }

    .main-accueil .section1 .left .section1-text p {
        width: 323px;
        font-family: 'Cantarell';
        font-size: 10px;
        text-align: justify;
        word-spacing: 1px;
    }

    .main-accueil .section1 .left .section1-text a {
        font-family: 'Cantarell';
        font-size: 10px;
        font-weight: lighter;
        color: var(--white-color);
    }

    .main-accueil .section1 .right img {
        width: 900px;
        margin-top: 80px;
    }
   

   /*Mise en page de la section 2*/
    .main-accueil .section2 .grid {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      gap: 14px;
      margin-left: 100px;
      animation: fade-in 2s ease-in-out forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }


    .main-accueil .section2 .background .grid {
      background-color: var(--navybleu-color);
      height: 210px;
      padding-left: 40px;
    }

    .main-accueil .section2 .grid .image2 img {
      width: 260px;
    height: 290px;
    margin-top: -40px;
    }

    .main-accueil .section2 .grid .image2 img:hover {
      transform: scale(1.2);
    }

    .main-accueil .section2 .grid .section2-text {
      width: 260px;
      padding: 35px 7px;
    }

    .main-accueil .section2 .grid .section2-text p {
      font-family: 'Cantarell';
      font-size: 10px;
      text-align: justify;
      margin-bottom: 1px;
    }

    .main-accueil .section2 .grid .section2-text h3 {
      font-family: 'beyno';
      font-weight: lighter;
      font-size: 15px;
      color: var(--light-bleu-color);
      padding-bottom: 10px;
    }

    .main-accueil .section2 .grid .section2-text a {
      font-family: 'Cantarell';
      font-size: 10px;
      font-weight: lighter;
      color: var(--white-color);
    }

    .main-accueil .section2 .grid .image3 img {
      width: 200px;
      height: 210px;
    }

    .main-accueil .section2 .grid .image3 img:hover {
      transform: scale(1.2);
    }
  
    .main-accueil .section2 .grid .image4 img {
      width: 165px;
      height: 210px;
      padding-right: 0;
    }
      
    .main-accueil .section2 .grid .image4 img:hover {
      transform: scale(1.2);
    }
   /*Mise en page section 3*/

   .main-accueil .section3 {
     display: flex;
     justify-content: space-around;
     animation: fade-in 2s ease-in-out forwards;
   }

   @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

   .main-accueil .section3 .left .section3-text { /*Mise en forme partie gauche de la section3*/
    width: 800px;
    margin-top: 145px;
    padding-left: 135px;
    } 

  .main-accueil .section3 .left .section3-text h3 {
    font-family: 'beyno';
    font-weight: lighter;
    font-size: 15px;
    color: var(--light-bleu-color);
    padding-bottom: 10px;   
    }

  .main-accueil .section3 .left .section3-text p {
    width: 600px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
    padding-bottom: 20px;
    }
    
   .main-accueil .section3 .right {/*Mise en forme partie droite de la section3*/
    position: relative;
    padding-top: 305px;
    padding-left: 40px;
    padding-right: 125px;
    padding-bottom: 60px;
   }

   .main-accueil .section3 .right .biography {/* Mise en page de la biographie*/
    width: 320px;
    font-size: 12px;
    background: var(--white-color);
    padding: 180px 30px 40px 30px;
    border-radius: 10px;
   }
   
   .main-accueil .section3 .right .biography h4 {
    text-align: center;
    font-size: 16px;
    color: hsl(0 1% 14%);
    padding-bottom: 15px;
   }

   .main-accueil .section3 .right .biography .identity {
    display: flex;
    align-items: center;
    justify-content: space-around;
     padding-bottom: 20px;
   }

   .main-accueil .section3 .right .biography .identity p {
    background-color: hsl(248 57% 41%);
    border-radius: 5px;
    padding: 5px 14px;
    font-size: 10px;
   }
   
   .main-accueil .section3 .right .biography .description p {
    padding-bottom: 12px;
    color: hsl(0 0% 4%);
   }
    
   .main-accueil .section3 .right .biography .description span {
    font-weight: bold;
    color: var(--navybleu-color);
   }

   .main-accueil .section3 .right .image5 {
    position: absolute;
    width: 270px;
    top: 7%;
    left: 13%;
   }

   .main-accueil .section3 .right .image5:hover {
    transform: scale(1.2);
   }

   .main-accueil .section3 .right .image6 {
    width: 320px;
    height: 280px;
    margin-top: 100px;
   }

   .main-accueil .section3 .right .image6:hover {
    transform: scale(1.2);
   } 

/*Mise en forme formulaire*/

  .main-accueil .section4 .my-form {
    position: absolute;
    left: 360px;
    margin-top: 250px;
    background-image: linear-gradient(to bottom, white, hsl(0 0% 100% / .5));
    padding: 45px 120px;
    border-radius: 90px;
    animation: fade-in 2s ease-in-out forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } 

  .main-accueil .section4 .my-form .section4-text {
    color: hsl(0 0% 0%);
    text-align: center;
  }

  .main-accueil .section4 .my-form .section4-text p {
    font-size: 12px;
  }

  .main-accueil .section4 .my-form .section4-text h2 {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .main-accueil .section4 .my-form input {
    padding: 10px 240px 10px 18px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 10px;
  }

  .main-accueil .section4 .my-form textarea {
    padding: 10px 200px 100px 18px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
  }
  
  .main-accueil .section4 .my-form button {
    display: block;
    padding: 10px 35px;
    margin-left: 130px;
    background-color: var(--white-color);
    color: hsl(0 0% 0%);
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 10px;
    text-align: center;
  }
  /*Animation bouton des formulaires*/
  .main-accueil .section4 .my-form button:hover {
    box-shadow: 0 0 5px white;
  }

  /*Mise en page de la page wakanda*/
  /*Première section*/
  .main-wakanda .section1 {
    background-image: url(./Images/Wakanda/Pantherwakanda1.png);
    background-position-x: center;
    background-repeat: no-repeat;
    margin-top: -50px;
  }

  .main-wakanda .section1 .section1-text {
    padding-top: 430px;
    padding-left: 210px;
    animation: fade-in 2s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } 


  .main-wakanda .section1 .section1-text h1 {
    font-family: 'beyno';
    font-weight: lighter;
    font-size: 42px;
    color: var(--light-bleu-color);
    padding-bottom: 10px;
  }
  
  .main-wakanda .section1 .section1-text h2 {
    font-family: 'WakandaForever';
    font-weight: lighter;
    color: var(--light-bleu-color);
    word-spacing: 8px;
  }
   
  .main-wakanda .section1 .section1-text p {
    font-family: 'Cantarell';
    font-size: 10px;
    text-align: justify;
    width: 349px;
    padding-top: 35px;
  }

  /*Deuxième section*/
  /*Mise en forme de la partie haut de la section 2*/
  .main-wakanda .section2 {
    margin-top: 410px;
    animation: fade-in 2s ease-in-out forwards;
  }
 
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } 

  .main-wakanda .section2 .background {
   background-image: url(Images/Wakanda/Pantherwakanda2.png);
   background-size: cover;
  }

  .main-wakanda .section2 .top {
    display: flex;
    justify-content: space-between;
    margin-left: 145px;
    margin-right: 145px;
    padding-top: 158px;
  }


   
  /*Mise en forme général de la partie haut et bas de la section 2 */

  .main-wakanda .section2 .top .left, .main-wakanda .section2 .top .right {
    width: 475px;
   }
 
  .main-wakanda .section2 .top .section2-text h3, .main-wakanda .section2 .bottom .section2-text h3 {
    font-family: 'beyno';
    font-weight: lighter;
    font-size: 15px;
    color: var(--light-bleu-color);
    padding-bottom: 15px;
  }

  .main-wakanda .section2 .top .section2-text p, .main-wakanda .section2 .bottom .section2-text p {
    font-family: 'Cantarell';
    font-size: 12px;
    text-align: justify;
    padding-bottom: 15px;
  }
    
   /* Mise en forme de la partie bas de la section 2*/

  .main-wakanda .section2 .bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 145px;
    margin-right: 145px;
    padding-top: 25px;
    padding-bottom: 80px;
  }

  .main-wakanda .section2 .bottom .left, .main-wakanda .section2 .bottom .right {
    width: 475px;
   }
 
  .main-wakanda .section2 .left iframe {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  
  .main-wakanda .section2 .right .image2 {
    width: 420px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-wakanda .section2 .right .image2:hover {
    transform: scale(1.2);
  }

   /*Mise en page de la page enigme*/
   /*Mise en forme de la section 1 enigme*/
   .main-enigme .section1 {
    background-image: url(./Images/Enigme/Pantherenigme1.png);
    background-size: cover;
    margin-top: -180px;
    height: 920px;
    width: 920px;
    animation: fade-in 2s ease-in-out forwards;
   }

   @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } 


   .main-enigme .section1 .section1-text {
    width: 397px;
    margin-left: 785px;
    padding-top: 200px;
   }
   
   .main-enigme .section1 .section1-text h1 {
    font-size: 45px;
    font-family: 'beyno';
    font-weight: lighter;
    color: var(--light-bleu-color);
    margin-top: 165px;
    margin-bottom: 45px;
   }

   .main-enigme .section1 .section1-text h1:hover {
    transform: scale(1.2);
   }

   .main-enigme .section1 .section1-text p {
    position: absolute;
    width: 332px;
    font-family: 'Cantarell';
    font-size: 10px;
    text-align: justify;
    margin-top: 105px;
    margin-left: 87px;
   }

   .main-enigme .section1 .section1-text p:hover {
    transform: scale(1.2);
   }

   .main-enigme .section1 .section1-image {
    margin-left: 785px;
   }

   .main-enigme .section1 .section1-image .image2-enigme {
    width: 492px;
   }

   .main-enigme .section1 .section1-image .image3-enigme {
    width: 492px;
    position: absolute;
    padding-top: -400px;
   }


   /*Mise en forme de la section 2 enigme*/
   .main-enigme .section2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
   }

   .main-enigme .section2 .left {
    animation: fade-in 2s ease-in-out forwards;
   }

   @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  } 


   .main-enigme .section2 .left h2 {
    width: 503px;
    font-family: 'WakandaForever';
    font-size: 20px;
    line-height: 1.6;
    word-spacing: 15px;
    color: var(--light-bleu-color);
    padding-bottom: 55px;
   }

   .main-enigme .section2 .left h3 {
    font-family: 'Cantarell';
    font-size: 12px;
    font-weight: lighter;
    padding-bottom: 8px;
   }

   .main-enigme .section2 .left p  {
    font-family: 'Cantarell';
    font-size: 12px;
    width: 370px;
   }

   .main-enigme .section2 .left p:hover {
    transform: scale(1.2);
   }
   

   .main-enigme .section2 .left p span {
    font-family: 'WakandaForever';
    font-size: 12px;
    word-spacing: 5px;
   }

   .main-enigme .section2 .my-form {
    display: block;
    padding-top: 90px;
    padding-bottom: 30px;
   }

   .main-enigme .section2 .my-form input {
    font-family: 'Cantarell';
    font-size: 10px;
   }

   .main-enigme .section2 .my-form input[type='text'] {
    padding: 8px 180px 10px 25px;
    border-radius: 25px;
    background-color: transparent;
    margin-bottom: 40px;
    border-color: #FFFF;
   }

   .main-enigme .section2 .my-form input[type='submit'] {
    padding: 10px 30px;
    border-radius: 25px;
    background-color: var(--light-lilac-color);
    margin-left: 90px;
    border-color: var(--light-lilac-color);
   }

   /*Animation bouton du formulaire enigme*/
   .main-enigme .section2 .my-form input[type='submit']:hover {
    box-shadow: 0 0 5px var(--light-lilac-color);
   }

   .main-enigme .section2 .right .para {
   position: absolute;
   bottom: -390px;
   left: 740px;
   }

   .main-enigme .section2 .right .para:hover {
    transform: scale(1.2);
   }

   .main-enigme .section2 .right h3 {
    font-family: 'Cantarell';
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 8px;
   }

   .main-enigme .section2 .right p {
    font-family: 'Cantarell';
    font-size: 10px;
    text-align: center;
    width: 373px;
   }

   /*Mise en page pied de page*/

   footer {
    background-image: url(./Images/All_pages/back_footer.png);
   }

   footer .box-footer  {
    display: flex;
    justify-content: space-between;
    padding-right:150px;
    padding-top: 20px;
    align-content: center;
   }

   footer .box-footer .right .footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    padding-bottom: 71px;
   }

   footer .box-footer .footer-content .pages h2, footer .box-footer .footer-content .social-media-footer h2 {
    font-size: 14px;
    padding-bottom: 20px;
   }

   footer .box-footer .left {
    padding-left: 135px;
   }

   footer .box-footer .left .image-footer1 {
    width: 48%;
    padding-top: 60px;
    margin-left: 96px;
   }

   footer .box-footer .left .image-footer2  {
    position: absolute;
    padding-top: 152px;
    padding-left: 129px;
   }
   
   footer .box-footer .right {
    padding-right: 5px;
   }

   footer .box-footer .right .footer-content .pages p {
    font-size: 12px;
    padding-right: 229px;
   }

   footer .box-footer .right .footer-content .social-media-footer .icon {
    width: 17%;
    padding-right: 13px;
   }

   footer .box-footer .right .text-footer {
    display: flex;
    font-size: 10px;
   }
  
   footer .box-footer .right .text-footer  p {
    padding-right: 12px;
   }

  /*Animation textes "A propos" et "wakanda"*/
   
  footer .box-footer .footer-content .pages p a {
    color: #FFFF;
    text-decoration: none;
   }

   footer .box-footer .footer-content .pages p a:hover {
    text-decoration: underline;
    color: #FFFF;
   }



  


